## Estrutura e modelagem de Banco de dados

## Disclaimer

Cursos de bancos de dados servem para mais de mais de um semestre (eu mesmo fiz três) rs. A idéia dessa aula é dar um overview dos conceitos porquê é isso que vocês encontrarão no dia a dia :)

## R[D]BMS
- **Data**base?
    - Data - pode ser qualquer coisa

## R[D]BMS
- Data**base**?

Cojunto de informações organizadas. Onde, os dados podem ser facilmente **armazenados**, **gerenciados**, **atualizados** e **recuperados**

## R[DBMS]

Um **Database Management System (DBMS)** é o software que interage com usuários finais, aplicativos e o próprio banco de dados para armazenar, gerenciar e recuperar os dados.

Um **banco de dados relacional** é um banco de dados que organiza os dados na forma que eles sejam percebidos pelo usuário como **tabelas**, ou mais formalmente relações.

Exemplos de RDMBS:
- Mysql
- Postgresql
- Oracle
- **SQLite (iremos usar nessa aula)**

## R[D]BMS
![](imgs_sql_intro/db_direct_interface.png)

## [R]DBMS
Relações (Relations) = Tabelas

Um conjunto de: Rows(records) e Columns(fields)


![](imgs_sql_intro/tabela_cliente.png)

## [R]DBMS
Relações (Relations) = Tabelas

![](imgs_sql_intro/relacionamento_2.png)

## SQL
- Para trabalhar com um RDBMS, você tem que usar *SQL*, também conhecida como a Linguagem de Consulta Estruturada (Structured Query Language). 
- SQL permite acessar e manipular bancos de dados
- Cada RDBMS utiliza um dialeto diferente (no nosso caso vamos usar o dialeto do SQLite).

Ver mais sobre SQLite: https://www.hostinger.com.br/tutoriais/sqlite-vs-mysql

## Conectando com o banco de dados

In [1]:
# extensão para rodar comandos sql direto no jupyter
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython-sql) (7.28.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: six in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.27-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 4.3 MB/s eta 0:00:01
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.8 MB/s  eta 0:00:01
Requirement already satisfied: setuptools>=18.5 in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (49.2.1)
Requirement already satisfied: pygments in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: decorator in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pexpect>4.3 in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: traitlets>=4.2 in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (153 kB)
     |████████████████████████████████| 153 kB 11.0 MB/s eta 0:00:01
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=4bc26488fc1425e14033bccc29e081960664414a8d383868119bb01ec182f438
  Stored in directory: /home/andrebarbosa/.cache/pip/wheels/75/f7/28/77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: greenlet, sqlparse, sqlalchemy, prettytable, ipython-sql
Successfully installed greenlet-1.1.2 ipython-sql-0.4.0 prettytable-0.7.2 sqlalchemy-1.4.27 sqlparse-0.4.2
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/home/andrebarbosa/.pyenv/versions/3.9.0/envs/nyu/bin/python3.9 -m pip install --upgrade pip' command.

In [2]:
# Carregando a extensão do jupyter para executar Queries
# Usa o sqlalchemy, ver sobre https://www.sqlalchemy.org/
# Para adicionar syntax highlighting de sql: https://stackoverflow.com/questions/43641362/adding-syntax-highlighting-to-jupyter-notebook-cell-magic
# Instalação:
%load_ext sql

In [3]:
# String de conexão com o banco de dados, (criando e conectando com um banco de dados SQLite)
%sql sqlite:///data/exemplo.db

In [4]:
#  reiniciar o kernel do jupyter caso queira deletar o banco
#  comando para deletar o banco:
# !rm data/exemplo.db

## Create table - criando uma tabela

SQLite tipos de dados:

**NULL**. The value is a NULL value.

**INTEGER**. The value is a signed integer, stored in 1, 2, 3, 4, 6, or 8 bytes depending on the magnitude of the value.

**REAL**. The value is a floating point value, stored as an 8-byte IEEE floating point number.

**TEXT**. The value is a text string, stored using the database encoding (UTF-8, UTF-16BE or UTF-16LE).

**BLOB**. The value is a blob of data, stored exactly as it was input.

**DATETIME or TIMESTAMP** SQLite are capable of storing dates and times as TEXT, REAL, or INTEGER values:

## CREATE TABLE - criando uma tabela

In [4]:
%%sql
-- comando para criar uma tabela produto
CREATE TABLE products
(
    id         integer NOT NULL PRIMARY KEY,
    name       text,
    created_at timestamp,
    active     boolean,
    price      real
);

 * sqlite:///data/exemplo.db
Done.

[]

In [5]:
%%sql
select * from products

 * sqlite:///data/exemplo.db
Done.

[]

In [7]:
%%sql
-- DELETANDO uma tabela
-- DROP TABLE sales;
-- DROP TABLE products;

 * sqlite:///data/exemplo.db
0 rows affected.

[]

## DROP TABLE - deletando uma tabela

In [6]:
%%sql
-- comando para criar uma tabela
CREATE TABLE test (id integer);

-- comando para deletar uma tabela
DROP TABLE test;

 * sqlite:///data/exemplo.db
Done.
Done.

[]

## INSERT
Comando para inserir novas linhas em uma tabela.
```sql
INSERT INTO table (column1,column2 ,..)
VALUES( value1,	value2 ,...);
```

In [7]:
%%sql
INSERT INTO products (id, name, created_at, active, price)
VALUES (1, 'eraser', '2019-11-08 00:00', TRUE, 0.5),
       (2, 'paper', '2019-11-08 01:00', FALSE, 1.2),
       (3, 'pencil', '2019-11-08 01:00', TRUE, 1.3),
       (4, 'pen', '2019-12-08 01:00', FALSE, 1.5)
;

 * sqlite:///data/exemplo.db
4 rows affected.

[]

## Select e where clause
Frequentemente usamos a instrução SELECT para consultar dados de uma ou mais tabelas

```sql
SELECT column_list FROM table WHERE search_condition;
```

In [26]:
%%sql
-- selecionando todos os produtos
SELECT id, name FROM products where id > 2

 * sqlite:///data/exemplo.db
Done.

[(3, 'pencil'), (4, 'pen'), (5, 'glue'), (6, 'premium glue')]

## Operações com SQL

In [10]:
%%sql
SELECT 1+2;

 * sqlite:///data/exemplo.db
Done.

[(3,)]

In [11]:
%%sql
SELECT 2/4;

 * sqlite:///data/exemplo.db
Done.

[(0,)]

In [12]:
%%sql
SELECT 2*4;

 * sqlite:///data/exemplo.db
Done.

[(8,)]

In [13]:
%%sql
SELECT 2<4;

 * sqlite:///data/exemplo.db
Done.

[(1,)]

## Select com limit

In [14]:
%%sql
-- selecionando todos os produtos, limitando 2 registros
SELECT id, name FROM products limit 2

 * sqlite:///data/exemplo.db
Done.

[(1, 'eraser'), (2, 'paper')]

## Select e where clause

```sql
SELECT column_list FROM table WHERE [search_condition|expression];
```

Outros exemplos de expressões: https://www.tutorialspoint.com/sqlite/sqlite_where_clause.htm

In [28]:
%%sql
select 
    id, name, price, active -- colunas
from
    products
where
    -- price >= 1.3 
    price >= 1.3 AND active = TRUE

 * sqlite:///data/exemplo.db
Done.

[(3, 'pencil', 1.3, 1), (5, 'glue', 2.5, 1)]

## Update
Usamos a instrução `UPDATE` para atualizar um registro (row) de uma tabela
```sql
UPDATE table
SET column_1 = new_value_1,
    column_2 = new_value_2
WHERE
    search_condition 
```

In [16]:
%%sql
update products 
set price = 2.0, 
    active=0
where id=4

 * sqlite:///data/exemplo.db
1 rows affected.

[]

In [17]:
%%sql
-- verificando se o produto 4 sofreu de fato um update (seu preço antigo era 1.5, novo preco 2.0)
select id, name, price, created_at from products where id=4

 * sqlite:///data/exemplo.db
Done.

[(4, 'pen', 2.0, '2019-12-08 01:00')]

## DELETE

A instrução `DELETE` permite que você exclua uma linha, várias linhas e todas as linhas de uma tabela
```SQL
DELETE FROM table
WHERE search_condition;
````

In [18]:
%%sql
-- inserindo alguns novos produtos
INSERT INTO products (id, name, created_at, active, price)
VALUES
    (5, 'glue', '2019-11-08 01:00', TRUE, 2.5),
    (6, 'premium glue', '2019-12-08 01:00', FALSE, 3.0),
    (7, 'premium case', '2019-12-08 01:00', FALSE, 200.0),
    (8, 'premium pen', '2019-12-08 01:00', FALSE, 200.0)
;

 * sqlite:///data/exemplo.db
Done.

[]

In [19]:
%%sql
-- deletando produtos caros, 'premium case' e 'premium pen serão deletados
delete from products where price > 100

 * sqlite:///data/exemplo.db
Done.

[]

In [20]:
%%sql
-- verificando se existem produtos com preço maior que 100
select * from products where price > 100

 * sqlite:///data/exemplo.db
Done.

[]

## Case simples

In [21]:
%%sql
-- colunas disponiveis: id, name, created_at, price e active
-- quero o id, name, created_at e o price
-- mas somente dos produtos ativos com valor maior ou igual a 1,00
SELECT  
    [columns]
FROM 
    [table]
WHERE
    [condition]

 * sqlite:///data/exemplo.db
(sqlite3.OperationalError) no such table: table
[SQL: -- quero o id, name, data de criacao e o preco
-- mas somente dos produtos ativos com valor maior ou igual a 1,00
SELECT
    [columns]
FROM
    [table]
WHERE
    [condition]]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Resposta - Case simples

In [29]:
%%sql
-- quero o id, name, data de criacao e o preco
-- mas somente dos produtos ativos com valor maior ou igual a 1
SELECT  
    id, name, created_at, price
FROM 
    products
WHERE
    active = 1 AND price >= 1

 * sqlite:///data/exemplo.db
Done.

[(3, 'pencil', '2019-11-08 01:00', 1.3), (5, 'glue', '2019-11-08 01:00', 2.5)]

## Esquema de dados e o diagrama ER  (ERD)
* Schema - estrutura descrita em uma linguagem formal (metadados, exemplo: nome de tabelas, colunas, tipo das colunas...)
* Diagrama de entidade e relacionamento -  representa visualmente as entidades, ou tabelas, no banco de dados junto com os relacionamentos entre as tabelas

* Os diagramas são representações visuais do schema do banco de dados

Ver mais sobre ERD: https://www.youtube.com/watch?v=QpdhBUYk7Kk&ab_channel=Lucidchart

## Entidades diagrama ER

<img src="imgs_sql_intro/er_diagram_entities.png" alt="Drawing" width=70%/>

## Diagrama ER (crow's foot notation)
* O circulo representa "zero"
* O traço representa "one"
* O pé de galinha represents "many" (muitos) ou "infinite"

Os principais tipos de ralações são: one to many, many to many, one to one

<img src="imgs_sql_intro/er_cardinality.png?asd" alt="Drawing" width=35%/>

## Diagrama ER, com as relações
* Lucidchart (software para desenho dos diagramas)
* Relações "many to many" geralmente precisam de uma tabela auxiliar

<img src="imgs_sql_intro/er_diagram_relations.png?a=123" alt="Drawing" width=70%/>

## Diagrama ER - many to many (bridge tables)
* Em um BD relacional usamos uma entidade auxiliar para representar uma relação "many to many"
* Nesse caso podemos adicionar a entidade "OrderItem", para relacionar "Order" com "Product"

<img src="imgs_sql_intro/er_diagram_many_to_many.png?a=123" alt="Drawing" width=70%/>

## Exemplo de um diagrama ER

<img src="imgs_sql_intro/sqlite-sample-database-color.jpg" alt="Drawing" width=75%/>

## DBeaver

O [DBeaver](https://dbeaver.io/) é um client SQL e uma ferramenta de administração e consulta de banco de dados relacionais.

Conectando com o dbeaver:

- Baixar o banco sqlite: https://www.sqlitetutorial.net/sqlite-sample-database/
- Instalar o Dbeaver
- Abrir o banco sqlite chinook.db no Dbeaver

## DBeaver
Rodar a seguinte query no DBeaver:
```SQL
select 
    InvoiceDate as date,
    sum(Total) as revenue
from 
    invoices 
group by 1
````

## Exercício - Site de Viagens
* Montar um diagrama ER para um site de gestão de Viagens
* Entidades negociais: usuário, viagem, cidade
* Constraints: 
    - Um usuário pode passar por diferentes cidades em uma mesma viagem
    - Um usuário pode adicionar amigos (outros usuários na viagem)
* Ferramenta: https://www.lucidchart.com/

## Resposta - Site de Viagens
* Resposta: [Link](https://lucid.app/lucidchart/8d4ace0f-e52c-48e8-8d59-abfc5ab62d88/view)

# SQL vs. NoSQL

Com o advento de alguns paradigmas, sobretudo Big Data, tecnologias de bancos além do relacional ficaram populares. Esses bancos ficaram conhecidos como **NoSQL**, que podem significar bancos não relacionais ou distribuídos. Contudo, alguns desses bancos também suportam a linguagem SQL, então **NoSQL** também pode significar **not only SQL**.

Para entender um pouco melhor disso, precisamos entender o conceito de **ACID**

# Propriedades ACID

**A**- Atomicity

**C**- Consistency

**I**- Isolation

**D**- Durability

<img src="imgs_sql_intro/acid.png" alt="Drawing" width=75%/>

* Atomicidade significa que toda transação **ou** é concluida **ou** falha. Ou seja, não existe um estado intermediário (e.g. transação parcialmente concluida)

* Consistência signigica que a transação sao do banco em um estado valido

* Idepotência (ou Isolamento) significa que duas transações não interferem entre si. O resultado de duas transações, seja em paralelo ou sequêncial, tem a mesma resposta

* Durabilidade significa que mudanças nas transações são salvas. Se eu desligo a maquina e volto, o dado está lá

**Todos RDBMS garantem operações ACID**

# SQL- Pros vs. Cons

## Pros

- Queries Flexiveis: Permite o suporte a workloads diversos. Existe uma abstração dos dados e eu não preciso me preocupar _muito_ em fazer a query mais performatica possivel, uma vez que a engine do banco pode otimizar isso para mim.

- Por conta da normalização dos dados, a performance do banco e uso de recurso tende a ser superior

- Existe uma garantia das operações ACID

## Cons

- Modelos de dados mais rigidos, uma vez que os dados são estruturados **sempre**. Para todo dado que vou salvar, preciso pensar no design do schema, nas relações, modelo Entidade Relacionamento

- Escalabilidade horizontal limitada: uma base maior vai ter dificuldade para performar computação idependende das maquinas que eu rode em paralelo, uma vez que esses bancos **não são distribuidos**

- Pela ausência de computação distribuidas, eu tenho um unico ponto de falha e preciso mitigar isso fazendo replicas do banco

# NoSQL

Com suas raízes em bancos orientados a grafo, chave-valor e colunares-- esses bancos foram emergiram no começo dos anos 90 e receberam o nome de Not Only SQL (NoSQL), uma vez que eles suportariam as capacidades de SQL, mas sua proposta era ir além dele. Com o advento do termo BigData e estruturações de dados cada vez menos estruturados, eles começaram a ganhar fama por volta de 2010 e até hoje são populares.

Apesar do nome, é valido falar que esses sistemas **abdicam** de algumas garantias de SQL e RDBMS clássicos para favorecer **performance e flexibilidade**

Decidir entre um banco relacional ou não relacional é necessário ter uma boa noção do design e limitações do banco vs. o que você busca realizar como desenvolvedor. **Você não quer sacrificar a garantia de atomicidade quando sua operação pode exigir isso para existir**

## Pros

* Escalabilidade e alta disponibilidade: muitos desses bancos por design conseguem suportar escalabilidade e não tem pontos de falha únicos

* Modelos de dados flexiveis: Muitos bancos são schema-free, ou dinâmicos e, logo, facilmente alteraveis _on the fly_

* Schema dinâmico: facilitando armazenar dados não estruturados

* Alta performance: Alguns dos bancos abrem mão da propriedade de durabilidade para favorecer alto desempenho/performance

## Cons

- Limitações em relação as propriedades ACID

- Sistemas distribuidos tem problemas de sistemas de distribuidos rs.

- Se não souber usar um banco NoSQL direito (ou usar o banco com proposito errado), a chance de você ter dor de cabeça e problemas de performance para ler queries é **alta**

## Exemplos de NoSQL databases
- Redis
- **MongoDB**
- Cassandra
- Elasticsearch

# SQL vs. NoSQL

Quando usar cada um?

* IMO: Se você puder usar um banco relacional, prefira um banco relacional. O modelo entidade relacionamento faz bastante sentido do ponto de vista de negócio; esses bancos conseguem escalar verticalmente e as propriedades ACID são realmente muito uteis na maioria dos casos

* Muitas pessoas consideram NoSQL pela sua simplicidade (e.g. não precisar pensar no schema de antemão). Isso pode sempre _parecer_ uma boa ideia, mas não é uma vez que esse trade-off acaba trazendo muitas dores de cabeça no futuro.

* Para considerar NoSQL, é útil saber de antemão para o que sua aplicação será usada. Por exemplo, em uma aplicação que é um sistema/engine de busca, faz muito mais sentido usar um Elasticsearch do que um MySQL. Em um sistema Near Real Time em que você  já sabe o que seu usuário pode vir querer, usar um Redis ou Cassandra pode ser mais inteligente do que um Postgres

* Se você **sabe** que sua aplicação vai/precisa escalar rápido; a escalabilidade horizontal de muitos bancos NoSQL pode ajudar, enquanto se você vai trabalhar com dados não estruturados, ou cujo schema muda constantemente, usar um banco NoSQL pode ser uma escolha natural

[Alguns recursos adicionais](https://www.ibm.com/cloud/blog/sql-vs-nosql)

## Exemplos práticos de NoSQL

Exemplo de um "insert" no Elasticsearch

```
POST _bulk
{ "index" : { "_index" : "employees", "_id" : "1" } }
{"id":1,"name":"Huntlee Dargavel","email":"hdargavel0@japanpost.jp","gender":"male","ip_address":"58.11.89.193","date_of_birth":"11/09/1990","company":"Talane","position":"Research Associate","experience":7,"country":"China","phrase":"Multi-channelled coherent leverage","salary":180025}
```

Exemplo de um insert no Cassandra

```
Insert into KeyspaceName.TableName(ColumnName1, ColumnName2, ColumnName3 . . . .)
values (Column1Value, Column2Value, Column3Value . . . .)
```

Perceba que no caso do Cassandra, ele só preenche **as colunas que eu passar**; no caso de um RDBMS, ele iria dar erro na mesma operação!

Exemplo de um insert no MongoDB

`db.movie.insert({"name":"Avengers: Endgame"})`

Semelhante ao Elasticsearch, ele aceita um JSON, o que permite flexibilidade sobre o schema. Porém, igual ao ES, `joins` aqui são caóticos justamente por isso

# Uma breve introdução a arquitetura de dados

A maneira que as empresas foram crecendo e entramos na era de dados, tão importante quanto **qual** banco utilizar (RDBMS vs. Elasticsearch vs. Cassandra); **como** organizar essas informação virou algo super importante. E **como** utilizar depende do **por quê** queremos utilizar os nossos dados (e.g. tirar insights, servir como base para modelos preditivos, etc.)

Vamos para um **caso prático**

Suponha que você é dono de **uma rede de lojas de celulares** e por conta disso, você armazena seus dados em RDBMS e, mais especificamente dois:

- Um, POS (Point of Sale), que armazena as transações financeiras da sua empresa e as relações entre as tabelas dizem respeito a esse. Você resolveu utilizar o **MySQL** aqui

- Outro para armazenar seguros dos celulares que as pessoas compram e, logo, as relações dizem respeito ao seguro contratado. Você resolveu utilizar o **Oracle aqui**

- E, além disso, você resolveu salvar pdfs de formulários de feedback dos clientes no **Azure Blob Storage**

<img src="imgs_sql_intro/commerce.png" alt="Drawing" width=75%/>

<img src="imgs_sql_intro/unstructured.png" alt="Drawing" width=75%/>

Agora, seu negócio cresce e você tem dados estruturados e não estruturados corretamente armazenados e você quer descobrir coisas específicas sobre os seus dados, por exemplo:

<img src="imgs_sql_intro/use-cases.png" alt="Drawing" width=75%/>

Para responder essas perguntas, podemos começar a fazer operações agregadas e queries **entre os bancos**, certo?

**Qual o problema?**

**Performance**

Lembrem-se que esse mesmo banco que estamos fazendo operações de querie/leitura, existem outras, mais críticas, que estão relacionadas ao dia a dia da operação!

A saída que muitas empresas passaram a fazer é transferir uma cópia de **todos** os bancos para um **único database** focado para fazer **análises**!

Talvez você queira fazer algumas transformações para facilitar suas análises :) Então o ideal é, **antes** de fazer essa cópia, você quer **extrair** os dados de diferentes fontes; **transformar** esses dados em algum processo intermediário e **carregar esses dados** em uma nova base, focada para o seu cenário. Esse processo é conhecido como **ETL**. Esse banco **normalizado**, para análises, é chamado de **Data Warehouse**

<img src="imgs_sql_intro/etl-dw-2.png" alt="Drawing" width=75%/>

Entrando em mais especificade, esses bancos mais ligados a operação, são conhecidos como **online transactional processing**, ou OLTP, enquanto os bancos analíticos são conhecidos como sistemas de de processamento analítico online, ou **online analytical processing**

- OLTP são os processos que você precisa estar ligado ao cliente e, logo, são mais operacionais
- OLAP são processos analíticos e você tá mais preocupado em **servir isso apenas internamente**

Esses tópicos ficaram mais famosos na disciplina de **Business Inteligence**, que evoluiu para **Analytics**, mas é legal ter essa noção de um ponto de vista histório, uma vez que **Data Science** evoluiu como uma carreira **paralela** de **Analytics**

<img src="imgs_sql_intro/oltp-olap.png" alt="Drawing" width=50%/>

**Basicamente, se temos dados menos estruturados, pode ser dificil colocar isso em um DW**

A saida para isso é usar uma estrutura que segue _levemente_ a mesma ideia, conhecida como **DataLake**, que pode ser entendida como a evolução do DW

<img src="imgs_sql_intro/datalake1.png" alt="Drawing" width=50%/>

<img src="imgs_sql_intro/datalake2.png" alt="Drawing" width=75%/>

## Arquitetura do Datalake

<img src="imgs_sql_intro/datalake3.png" alt="Drawing" width=75%/>

# E no dia a dia?


Como o trabalho do Cientista de Dados se encaixa aqui? E Analista de Dados? E Analytics Engineer?

# Valeu! :)

## Alguns links de ajuda (e referências):
* https://www.youtube.com/watch?v=xp_hi0_hprk&list=PL_c9BZzLwBRKC2PJwLFxc2y6cyXYYQzj3&index=4
* https://www.youtube.com/watch?v=9Pzj7Aj25lw
* https://www.youtube.com/watch?v=5bFxbwjN-Gk
* https://www.sqlitetutorial.net/
* https://www.sqlitetutorial.net/sqlite-sample-database/
* https://www.youtube.com/watch?v=Oju_qQKN6i8&ab_channel=GliffyDiagramSoftware
* https://www.youtube.com/watch?v=QpdhBUYk7Kk&ab_channel=Lucidchart
* https://www.ibm.com/cloud/blog/sql-vs-nosql
* https://www.youtube.com/watch?v=oF_2uDb7DvQ
* https://www.youtube.com/watch?v=E49BFhThC3U